[submodule "hw5/counter/lib/forge-std"]
	path = hw5/counter/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "hw5/test_233/lib/forge-std"]
	path = hw5/test_233/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "hw5/uniswap-v2-foundry/lib/forge-std"]
	path = hw5/uniswap-v2-foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "hw5/uniswap-v2-modern/lib/forge-std"]
	path = hw5/uniswap-v2-modern/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "hw5/xxx/lib/forge-std"]
	path = hw5/xxx/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "hw5/uniswapv2-upgrade/lib/forge-std"]
	path = hw5/uniswapv2-upgrade/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
